<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="readOption" value="Manual"/>
		<add key="alignHorizontally" value="false"/>
		<add key="alignVertically" value="false"/>
		<add key="speedOption" value="WordsPerSecond"/>
		<add key="exitAfterSpeedReading" value="false"/>
	</appSettings>
</configuration>